@import url("https://fonts.googleapis.com/css?family=Cabin");


html,body {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

}

.index-page{
  position: relative;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/car.png'), #F8F8F8;
  background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     z-index: 998;
  scroll-snap-align: start;
}

.about-page{
  position: relative;
  height: 100vh;
  background: white;
  z-index: 998;
  scroll-snap-align: start;
}

.services-page{
  position: relative;
  height: 100vh;
  background: purple;
  z-index: 998;
  scroll-snap-align: start;
}

.contact-page{
  position: relative;
  height: 100vh;
  background: white;
  z-index: 998;
  scroll-snap-align: start;
}



/*----------------------------------------------------------------
[ Home text center ]*/
.center-screen {
  position: absolute;
  width: 80vw;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-align: center;
  z-index: -99;
}

.center-screen p{
  font-size: 30px;
  color: #4ec2de;
  /*color: 	#40E0D0;*/
}

.center-screen img{
  width: 40vh;
}

.cv{
  display: none;
}

.scroll-section {
  max-height: 100px;
  overflow-y: auto;
}


/*----------------------------------------------------------------
[ Navigation - desktop ]*/
.menu-btn {
  display: none;
/*  padding: .5vh 5vw; */
  margin: 1vh 3vw;
  width: 28px;
  height: 28px;
  float: right;
  cursor: pointer;
}

nav .close-button {
  display: none;
}

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100vw;
  color: white;
  background: rgba(0,0,0,0.80);
  z-index: 999999;
}

nav ul{
  visibility: visible;
}

nav li, a, button{
  font-weight: 300;
  font-size: 14px;
  color: white;
  text-decoration: none;
  list-style: none;
}

nav li{
  display: inline-block;
  padding: 0px 1vw;
}

nav li a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

/* nav underline animation */
nav li a::after {
  content: '' ;
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

nav li a::after {
transform: scale(0,1);
transition: transform 0.3s ease;
}

nav li a:hover::after {
  background: white;
  transform: scale(1,1);
}

.logo{
  margin-right: auto;
}

.logo img{
  margin: .5vh 3vw;
  cursor: pointer;
  min-height: 35px;
  max-height: 3vw;
  height: auto;
}

a > button{
  margin: 0 5vw 0 2vw;
  color: black;
  border: none;
  padding: 1vh 1.5vw;
  cursor: pointer;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  border-radius: 40px;
  text-transform: uppercase;
}

a > button:hover{
  background: black;
  color: white;
  border: 1px grey solid;
  box-shadow: 3px black inset;
  cursor: pointer;
}

nav ul span{
  display: none;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background: rgba(0,0,0,0.60);
   color: white;
   text-align: center;
   z-index: 9999;
}

footer span img {
  margin: 1vh 1.5vh;
  cursor: pointer;
  min-width: 20px;
  max-width: 1.5vw;
  height: auto;
  align-items: center;
}


/*----------------------------------------------------------------
[ About ]*/

.about{
  position: absolute;
  width: 100vw;
	height: 100vh;
	height: -webkit-fill-available;
  background: linear-gradient(-170deg, #F8F8F8 50%, #4897A9 50%);
  z-index: -99;
}

.about_containter{
  position: relative;
  width: 60%;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  color: black;
  z-index: -99;
	/*border: 2px solid green;*/}

.about_containter > h1{
  color: black;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 6px;
  margin-bottom: 0;
	/*border: 2px solid green;*/
}

.about_containter > h2{
  color: #777;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.portrait > img{
  width: 20%;
  border-radius: 10%;
  margin-top: 3vw;
  margin-bottom: 3vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/*----------------------------------------------------------------
[ Navigation - mobile ]*/
@media (max-width: 768px) {

#myTable{
  width: 90%;
}

.about_containter{
  width: 90%;
}

.menu-btn {
  display: block;
}

.cv{
  display: inline-block;
}

#overlay.active {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
    z-index: 99;
    touch-action: none !important;;
    -webkit-overflow-scrolling: none !important;;
    overflow: hidden !important;;
    /* Other browsers */
    overscroll-behavior: none !important;
}

#overlay.active .close-button {
  display: block;
  margin: 1em 1.5em;
  width: 20px;
  float: right;
  cursor: pointer;
  opacity: 0;
}

#overlay ul{
  display: none;
}

#overlay.active ul {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  display: -ms-grid;
  display: table;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
}

#overlay.active ul a {
  color: white;
  font-weight: bold;
  font-size: 1.25em;
}

#overlay.active ul span {
  color: gray;
  display: block;
  font-size: .65em;
  margin-top: 10px;
}

#overlay.active ul li {
  opacity: 0;
  margin-bottom: 5vw;
  display: inline-block;
  margin: 6vw 5vw 2vw 5vw;
}

#overlay ul li {
  opacity: 0;
}

button{
  display: none;
}

#overlay.active {
  display: block;
  -webkit-animation: slide-menu .6s ease-in forwards;
          animation: slide-menu .6s ease-in forwards;
}

#overlay.active .close-button {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

#overlay.active li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards .6s ease-in-out;
          animation: menu-item-anim .6s forwards .6s ease-in-out;
}

#overlay.active li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards .8s ease-in-out;
          animation: menu-item-anim .6s forwards .8s ease-in-out;
}

#overlay.active li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

#overlay.active li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

#overlay.active li:nth-of-type(5) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

#overlay li:nth-of-type(6) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

#overlay li:nth-of-type(7) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

#overlay li:nth-of-type(8) {
  -webkit-animation: menu-item-anim .6s forwards 2s ease-in-out;
          animation: menu-item-anim .6s forwards 2s ease-in-out;
}




@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
}
